.Card {
    width: 256px;
    background-color: #252422;
    border-radius:.5rem;
    box-shadow: 2px 2px 32px 2px #252422;
}

.Card__text {
    color: #FFFCF2;
    padding: .5rem;
}

.Card__label {
    background-color: #EB5E28;
}

.Card__text--center {
    text-align: center;
}

.Card__img {
    width: 100%;
    height: 192px;
    object-fit: cover;
}

.Card__text--bold {
    font-weight: bolder;
}

.Card__text--label {
    color: #EB5E28;
    padding: 1rem 0;
}

p {
    margin: 0;
}