<div class="Card">
    <p class="Card__text Card__text--center Card__text--label"><slot name="full_name" class="Card__text--bold"></slot></p>
    <img class="Card__img">
    <p class="Card__text">Nationality: <slot name="nationality" class="Card__text--bold"></slot></p>
    <p class="Card__text">Occupations: <slot name="occupation" class="Card__text--bold"></slot></p>
    <p class="Card__text">Born: <slot name="born" class="Card__text--bold"></slot></p>
    <p class="Card__text">Deceased: <slot name="deceased" class="Card__text--bold"></slot></p>
    <p class="Card__text">Most known work: <slot name="work" class="Card__text--bold"></slot></p>
<div>